html {
    background-color: #000010;
    font-family: serif, sans-serif, arial;
}

.header {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    padding: 25px 2em;
    align-items: center;
    justify-content: flex-start;
    gap: 3em;
    font-weight: 500;

}

.header-link {
    display: flex;
    font-size: 20px;
    gap: 2em;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: black;
}

img  {
    width: 500px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    flex: 1 1 0;
    opacity: 70%;
}
.big-name {
    text-align: center;
    color: whitesmoke;
    font-size: 110px;
    font-weight: 800;
    position: relative;
    margin-top: -550px;
}